# Build output
/build
/dist
/public/*.js
/public/*.js.map
/public/electron.js
/public/preload.js
/public/SimcManager.js
/public/types.js
/public/constants.js

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Misc
.DS_Store
.env*
*.log
